.mainContainer {
    color: white;
    width: 100%;
    height: 86vh;
    display: flex;
    align-items: center;
}

.innerContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.leftSide {
    padding: 8% 2%;
    width: 32vw;
    height: 100%;
}

.leftSide img {
    filter: drop-shadow(0px 5px 5px rgb(220, 144, 2));
    margin: 40px 0px 0px 40px;
    width: 80%;
    animation: upDown 3s ease-in-out infinite;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.rightSide {
    padding: 8% 2%;
    height: 100%;
    width: 65vw;
    /* Adjust width as needed */
}

.rightSide p {
    font-size: 60px;
}

.rightSide p1 {
    font-size: 45px;
    color: rgb(220, 144, 2);
}

.rightSide p2 {
    font-size: 40px;
}

.rightSide p2 span {
    color: rgba(0, 255, 0, 0.721);
}

.rightSide p3 {
    font-size: 30px;
}

.btnLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btnLinks button {
    padding: 8px 20px;
    font-size: 18px;
    color: white;
    border: 2px solid rgb(220, 144, 2);
    border-radius: 30px;
    background-color: transparent;
}

.btnLinks button:hover {
    background-color: rgb(220, 144, 2);
    transition: 0.3s;
}

.btnLinks .links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 25px;
}

.links .link {
    cursor: pointer;
    margin: 0px 6px;
    font-size: 23px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .innerContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .leftSide,
    .rightSide {
        width: 100%;
        padding: 5%;
    }

    .rightSide p {
        font-size: 50px;
    }

    .rightSide p1 {
        font-size: 35px;
    }

    .rightSide p2 {
        font-size: 30px;
    }

    .rightSide p3 {
        font-size: 26px;
    }

    .btnLinks button {
        font-size: 16px;
    }

    .links .link {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .rightSide p {
        font-size: 40px;
    }

    .rightSide p1 {
        font-size: 30px;
    }

    .rightSide p2 {
        font-size: 28px;
    }

    .rightSide p3 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .rightSide p {
        font-size: 30px;
    }

    .rightSide p1 {
        font-size: 28px;
    }

    .rightSide p2 {
        font-size: 20px;
    }

    .rightSide p3 {
        font-size: 20px;
    }
}